* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.btn {
    background-color: slateblue;
    color: snow;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 200ms ease-in-out;
}
.btn:hover {
    background-color: royalblue;
}

.card {
    border: 1px solid slategray;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 4px 0 slategray;
}